<beans:beans xmlns:context="http://www.springframework.org/schema/context"
             xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/security/spring-tx-4.2.xsd">


    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/home"
                                access="permitAll"/>
        <security:intercept-url pattern="/adminhome"
                                access=" hasAuthority('Role_Admin')"/>
        <security:intercept-url pattern="/product"
                                access="hasAuthority('Role_Admin')"/>
        <security:intercept-url pattern="/supplier"
                                access="hasAuthority('Role_Admin')"/>
        <security:intercept-url pattern="/Category"
                                access="hasAuthority('Role_Admin')"/>
        <security:intercept-url pattern="/productdesc"
                                access="hasAuthority('Role_Admin')"/>
        <security:intercept-url pattern="/updatecategory"
                                access="hasAuthority('Role_Admin')"/>
        <security:intercept-url pattern="/updateproduct"
                                access="hasAuthority('Role_Admin')"/>
        <security:intercept-url pattern="/updatesupplier"
                                access="hasAuthority('Role_Admin')"/>
        <security:intercept-url pattern="/showproduct"
                                access="hasAuthority('Role_Admin')"/>
        <security:intercept-url pattern="/userhome"
                                access="hasAuthority('Role_User')"/>


        <security:intercept-url pattern="/checkout"
                                access="hasAuthority('Role_User')"/>
        <security:intercept-url pattern="/receipt"
                                access="hasAuthority('Role_User')"/>

        <security:intercept-url pattern="/productdisplay"
                                access="permitAll"/>
        <security:intercept-url pattern="/cart"
                                access="hasAuthority('Role_User')"/>
        <security:intercept-url pattern="/register"
                                access="permitAll"/>

        <security:intercept-url pattern="/aboutus"
                                access="permitAll"/>
        <security:intercept-url pattern="/productdesc"
                                access="hasAuthority('Role_Admin','Role_User')"/>
        <security:intercept-url pattern="/LoginFailure"
                                access="permitAll"/>
        <security:intercept-url pattern="/Main"
                                access="permitAll"/>


        <security:form-login login-page="/login"
                             default-target-url="/" login-processing-url="/perform_login"
                             authentication-failure-url="/loginf"
                             authentication-success-forward-url="/login_success"/>
        <security:logout logout-url="/perform_logout"
                         invalidate-session="true" logout-success-url="/"/>
        <security:csrf disabled="true"/>


    </security:http>


    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service
                    data-source-ref="dataSource"
                    users-by-username-query="select username,password,enabled from Register where username=?"
                    authorities-by-username-query="select username, role from Register where username =?"/>
        </security:authentication-provider>
    </security:authentication-manager>
</beans:beans> 